<section
  class="cards"
  *ngIf="catsArray"
  infinite-scroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="1000"
  (scrolled)="onScroll()"
>
  <article class="card card--1" *ngFor="let cat of catsArray">
    <div class="card__img"><img [src]="cat.url" [alt]="cat.name" /></div>
    <div class="card__info">
      <h3 class="card__title">{{ cat.name }}</h3>
      <p>{{ cat.description }}</p>
    </div>
  </article>
</section>
